*{
    box-sizing: border-box;
}

#signUp {
    border-style: solid;
    border-width: thin;
    background-color: whitesmoke;
    color: lightslategrey;
    width: 15%;
    float: center;
    height: 200%;
    padding: 20px;
    font-family: sans-serif;
    font-size: small;
}